/node_modules

# certificates and such
/tls
/hash.txt

# generated config files for Nginx and systemd
/generated

# stuff I put on the serevr to send/share with my friends
/shared

# resources included in blog posts
/static/blog
