<%- include('header', { canonical });  -%>

<h1>About</h1>

<h2>About this website</h2>

<p>
	This is my personal website, which is a very old project of mine (one of my oldest actually). It already went through 2 refactors!<br/>
	I started it in high school. I had a lot of fun experimenting with web technologies with it at the time and that's how I got into web development.<br/>
</p>

<p>
	This website has been self-hosted on an <a href="https://www.olimex.com/wiki/A20-OLinuXino-MICRO">ARM board</a> running Debian for a really long time (january 2014 - 17th October 2016).<br/>
	Eventually I used a professional hosting solution (still on Debian) because my home's power would go out from time to time, which would crash the server.<br/>
	But at some point I got tired of managing my own server, so it spent a weekend to make it static. On July 17 2019 I moved it to <a href="https://about.gitlab.com/product/pages/">Gitlab Pages</a> where it is now.
<p>

<p>You can find the source code that powers thit site in <a href="https://github.com/getkey/personal-website/">this repository</a> (it was made with lots of ❤!).</p>


<h2>About me</h2>

<p>My name is <a href="https://www.linkedin.com/in/julien-mourer">Julien Mourer</a>. I'm a:</p>

<ul>
	<li>Fullstack web developer</li>
	<li>Game developer</li>
	<li>3D printing enthusiast</li>
</ul>

<p id="contact">You can contact me at: getkey[at ) getkey [ dot) eu.</p>


<h2>License</h2>

<p>Everything on <a href="/blog">my blog</a> is under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> unless stated otherwise.</p>

<%- include('full_footer'); -%>
