<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<%_ const actualTitle = locals.title === undefined ? 'Getkey' : `${locals.title} - Getkey` _%>
	<title><%= actualTitle %></title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/tomorrow.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,300%7CMerriweather:300,400"/>
	<link rel="icon" type="image/jpeg" href="/favicon64.jpg" sizes="64x64"/>
	<link rel="icon" type="image/jpeg" href="/favicon128.jpg" sizes="128x128"/>
	<link rel="icon" type="image/jpeg" href="/favicon256.jpg" sizes="256x256"/>
	<link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Blog post feed" />
	<%_ if (locals.canonical) { _%>
		<link rel="canonical" href="<%- canonical %>"/>
	<%_ } _%>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5WZ8N9W');</script>
</head>

<body lang="en">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WZ8N9W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<nav id="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
	</ul>
	<a href="/blog/atom.xml"><img src="/rss.svg" alt="RSS icon"/></a>
</nav>

<main>
