<%- include('header', { canonical });  -%>

<h1>Julien Mourer</h1>

<p>I'm a:</p>

<ul>
	<li>Fullstack web developer working at <a href="https://poki.com/">Poki</a></li>
	<li>Game developer working on <a href="https://bombhopper.io/">BombHopper.io</a></li>
	<li>3D printing enthusiast</li>
</ul>

<p>Want to know more about me and my projects?</p>

<ul>
	<li>Read <a href="/blog">my blog</a></li>
	<li>Follow me on <a href="https://twitter.com/getkey_">Twitter</a></li>
	<li>Check me out on <a href="https://www.linkedin.com/in/julien-mourer">Linkedin</a></li>
	<li>Get in touch at getkey[at ) getkey [ dot) eu</li>
</ul>

<%- include('footer'); -%>
