<%- include('header', { canonical });  -%>

<h1>Julien Mourer</h1>

<p>I'm a:</p>

<ul>
	<li>Fullstack web developer</li>
	<li>Game developer</li>
	<li>3D printing enthusiast</li>
</ul>

<p>Want to know more about me and my projects?</p>

<ul>
	<li>Read <a href="/blog">my blog</a></li>
	<li>Follow me on <a href="https://twitter.com/getkey_">Twitter</a></li>
	<li>Check me out on <a href="https://www.linkedin.com/in/julien-mourer">Linkedin</a></li>
	<li><a href="/about#contact">Get in touch</a> with me</li>
</ul>

<%- include('full_footer'); -%>
