[Unit]
Description=Getkey's Node.js server behind Nginx

[Service]
ExecStart=${NODE_PATH} ${HOME}/personal-website/server.js start ${SERVER_PORT}
Type=simple
Restart=always
User=${USER}
Group=${USER}
Environment=NODE_ENV=production
WorkingDirectory=${HOME}/personal-website/

[Install]
WantedBy=multi-user.target
