<%- include('header') -%>

<h1>404 Error</h1>

<p>You're having a 404 error. It means the page you're looking for does not exist.<br/>
Maybe you'd like to <a href="/">come back home</a>?</p>

<%- include('full_footer') -%>
