{{ define "main" }}

<article lang="{{ .Params.locale }}">
<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006-01-02" }}</time>

{{ if .Title -}}
	<h1>{{ .Title }}</h1>
{{- end }}

{{ if isset .Params "media" -}}
	<figure class="audio-figure">
		{{ if isset .Params.media "metadata" }}
			<figcaption class="audio-caption">
				<table class="audio-metadata">
				{{ range $key, $value := .Params.media.metadata }}
					<tr>
						<td>{{ $key }}:</td>
						<td>{{ $value }}</td>
					</tr>
				{{ end }}
				</table>
			</figcaption>
		{{- end }}
		<audio controls>
			{{ range $mime, $file := .Params.media.sources }}
				<source src="{{ $file }}" type="{{ $mime }}"/>
			{{ end }}
		</audio>
		{{ if in .Params.tags "poésie francitane" }}
			<figcaption class="audio-caption">Tous mes poèmes de la série <a href="/tags/poésie-francitane/">poésie francitane</a> sont faits pour être lus avec l'accent du sud. Si vous ne le pouvez pas, écoutez cette lecture d'une personne que je remercie chaleureusement.</figcaption>
		{{- end }}
	</figure>
{{- end }}

<div {{- if eq .Params.poetry true }} class="poetry" {{- end }}>
	{{ .Content }}
</div>

</article>

{{ if isset .Params "license" -}}
	<p class="license">License: {{ .Params.license }}</p>
{{- end }}


{{ $taxonomy := "tags" }} {{ with .Param $taxonomy -}}
	<nav id="tags">
		{{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy (anchorize $tag)) -}}
			<a href="{{ .Permalink }}">{{ $tag }}</a>
		{{- end -}} {{- end }}
	</nav>
{{- end }}

{{ end }}
