{{ define "main" }}

<article lang="{{ .Params.lang }}">
<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006-01-02" }}</time>

{{ if .Title }}
	<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

</article>

{{ if isset .Params "license" }}
<p class="license">License: {{ .Params.license }}</p>
{{ end }}


{{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
<nav id="tags">
	{{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
	$taxonomy $tag) -}}
	<a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
	{{- end -}} {{- end -}}
</nav>
{{ end }}

{{ end }}
