{{ define "main" }}

<h1>Julien Mourer</h1>

<div class="homepage-content">
	<picture>
		<source srcset="julien-mourer.webp" type="image/webp"/>
		<source srcset="julien-mourer.jpg" type="image/jpeg"/>
		<img src="julien-mourer.jpg" alt="Julien Mourer"/>
	</picture>

	<div>
		<p>I'm a:</p>

		<ul>
			<li>Web developer working at <a href="https://poki.com/">Poki</a></li>
			<li>Game developer working on <a href="https://bombhopper.io/">BombHopper.io</a> and <a href="https://doomed.io/">Doomed.io</a></li>
			<li>3D printing enthusiast</li>
		</ul>

		<p>Want to know more about me and my projects?</p>

		<ul>
			<li>Read <a href="/blog">my blog</a></li>
			<li>Get in touch at getkey[at ) getkey [ dot) eu</li>
		</ul>
	</div>
</div>

{{ end }}
