body {
	color: #3a4145;
	font-family: Merriweather, serif;
	margin: 0;
}
main {
	max-width: 80ch;
	margin: 4% auto 4% auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin: 2rem 0 1.9rem 0;
}
/* font-size scale: perfect fourth */
h1 {
	font-size: 3.157rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
}
h2 {
	font-size: 2.369rem;
}
h3 {
	font-size: 1.777rem;
}
h4 {
	font-size: 1.333rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.75rem;
}

p, li {
	font-size: 1.15rem;
	line-height: 1.725rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	padding: 0 2%;
	background-color: #34495e;
}
nav ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	flex-direction: row;
	flex-wrap: nowrap;
}
nav ul li:hover {
	background-color: #2C3E50;
}
nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 1.1rem 1.1rem 1.05rem 1.1rem;
}
nav ul li a, nav div form input {
	color: white;
	font-size: 2rem;
	font-family: "Open Sans";
	font-weight: 300;
}
nav div {
	display: flex;
	align-items: center;
}
nav div > * {
	margin: 0 0.5rem;
}
nav div a {
	display: block;
	width: 2.2rem;
}
nav div form {
	border-bottom: 0.15rem solid white;
}
nav div form input {
	max-width: 10ch;
	background-color: transparent;
	border: none;
}
nav div form button {
	background-color: transparent;
	border: none;
}
nav div form button img {
	width: 2rem;
}

iframe, main form textarea {
	width: 100%;
}

main form .table {
	display: table;
}
main form .table .row {
	display: table-row;
}
main form .table .row .cell {
	display: table-cell;
}

article {
	margin: 6em 0;
	padding: 1em;
}
article:first-child {
	margin-top: 3em;
}
article:last-child {
	margin-bottom: 3em;
}
article h1 {
	margin-top: 0;
}
article img {
	max-width: 100%;
}

pre, code {
	background: #e2e0de;
}
pre {
	overflow-x: scroll;
	padding: 0.3rem;
}

footer {
	text-align: center;
	font-family: "Open Sans";
	font-weight: 300;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p {
	margin: 0;
	padding: 0.2rem 1rem;
	display: inline-block;
	background-color: white;
	border-bottom: none;
	color: white;
	background-color: #34495e;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
footer p a {
	color: white;
}
