<% include header %>

<h1>About</h1>

<h2>About this website</h2>

<p>
	This is my personal website, where I used to experiment a lot with web technologies.<br/>
	I still do, but nowadays most of my stuff is on my <a href="https://github.com/getkey">GitHub page</a>.
	I also teamed up with my friend <a href="https://github.com/Fju">Fju</a>. We make things as <a href="https://github.com/KordonBleu/">KordonBleu</a>.
</p>

<p>
	This website has been self-hosted on an <a href="https://www.olimex.com/wiki/A20-OLinuXino-MICRO">ARM board</a> running Debian for a really long time (january 2014 - 17th October 2016).<br/>
	Now I use a profesional hosting solution (still on Debian) because my home's power would go out from time to time, which would crash the server.
<p>

<p>It was made with (besides ❤):</p>
<ul>
	<li>Node.js proxied behind Nginx</li>
	<li>Express &amp; EJS</li>
	<li>MongoDB &amp; Mongoose</li>
</ul>

<p>It is still made with ❤, but I have migrated it from Express to Koa.</p>


<h2>About me</h2>

<p>My name is <a href="https://www.linkedin.com/in/julien-mourer">Julien Mourer</a>, I am 19 and currently a student.</p>

<p id="contact">You can contact me at: getkey[at ) getkey [ dot) eu.</p>


<h2>License</h2>

<p>Everything on <a href="/blog">my blog</a> is under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> unless stated otherwise.</p>

<% include full_footer %>
