<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title><%_ if(locals.title !== undefined) { _%>
		<%= title %> - 
		<%_ } %>Getkey</title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/tomorrow.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,300%7CMerriweather"/>
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Blog post feed" />
</head>

<body lang="en">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/about">About</a></li>
	</ul>
	<div>
		<form method="get" id="search" action="/search">
			<input type="search" name="q" maxlength="255" placeholder="Search..."/>
			<button type="submit"><img src="/magnifying_glass_icon.svg" alt="magnifying glass icon"/></button>
		</form>
		<a href="/blog/atom.xml"><img src="/rss.svg" alt="RSS icon"/></a>
	</div>
</nav>

<main>
